<h1>Welcome to my Dashboard</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<p>Hey <%= current_user.first_name %> How are you? </p>

<p>Your last name is <%= current_user.last_name %> Right? ;) </p>
